.scores {
    width: 33%;
    margin: 10px auto 20px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.scores > div {
    padding: 0 30px;
}
.score.blink {
    color: #5CB85C;
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.panels {
    width: 33%;
    margin: 10px auto;
    padding: 5px;
    background-color: #dee2e6;
}

.panel {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border: solid 1px #dee2e6;
}
.panel:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.panel.white {
    background-color: #fff;
}
.panel.red {
    background-color: #D9534F;
}
.panel.green {
    background-color: #0f0;
}
.panel.blue {
    background-color: #00f;
}
.panel.yellow {
    background-color: #ff0;
}
.panel.cyan {
    background-color: #0ff;
}
.panel.magenta {
    background-color: #f0f;
}
.panel.black {
    background-color: #000;
}
.panel.grey {
    background-color: #999;
}